* {
    font-family: Helvetica;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
}

a {
    text-decoration: none;
    color: #f7d354;
    transition: 0.5s;
}

a:hover {
    color: #b8930c;
}