#home {
    width: 50%;
    margin: 0px auto;
    padding-top: 2em;
}

#home .btn {
    display: block;
    max-width: 80px;
    text-align: center;
    margin: 0.5em 0px 2em 0px;
}

.no-photos {
    text-align: center;
}

.no-photos a {
    color: #0094f6;
}