body {
  padding: 0px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 500px;
}

h1 {
  color: red;
}

.titulo1 {
  border: 15px solid red;
  background-color: black;
  color: red;
  padding: 15px;
}

.titulo2 {
  background-color: black;
  color: white;
}