#profile {
    width: 50%;
    margin: 0px auto;
}

.profile-header {
    border-bottom: 1px solid #363636;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 1em;
}

.profile-header img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-right: 2em;
}

.new-photo {
    border-bottom: 1px solid #363636;
    padding: 1em;
}

.photos-container {
    display: flex;
    flex-wrap: wrap;
}

.photo {
    width: 32%;
    margin: 0.3%;
}

.photo img {
    width: 100%;
}

.actions {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.actions svg {
    cursor: pointer;
}

.edit-photo {
    margin-bottom: 1em;
}

.edit-photo img {
    width: 100%;
    margin-bottom: 1em;
}