.fade {
    background-color: black;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.3;
}

.modal {
    background-color: white;
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    margin: 0px auto;
    width: 500px;
    height: 400px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.modal h2 {
    margin-bottom: 1em;
}

.modal form {
    width: 90%;
}