.task {
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    max-width: 400px;
    margin: 0px auto;
    padding: 1em;
}

.details {
    text-align: left;
}

.details h4 {
    font-size: 1.2em;
    margin-bottom: 1em;
}

.actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.actions i {
    background-color: #282c34;
    margin-bottom: 0.5em;
    font-size: 1.2em;
    cursor: pointer;
    color: white;
    padding: 0.4em;
    transition: 0.5s;
}

.actions i:hover {
    color: #61dafb;
}