.form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0px auto;
}

.form input {
    border: 1px solid #282c34;
    border-radius: 0;
    padding: 8px 15px;
    margin-bottom: 1.5em;
}

.form input[type="submit"] {
    border: 1px solid #61dafb;
    background-color: #61dafb;
    color: black;
    transition: 0.5s;
    cursor: pointer;
}

.form input[type="submit"]:hover {
    border-color: #282c34;
    background-color: white;
}

.input_container {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.input_container label {
    font-weight: bold;
    margin-bottom: 0.4em;
}