html, body {
    height: 100%;
}

body {
    background: linear-gradient(180deg, rgba(9, 35, 175, 1) 0%, rgba(0, 0, 0, 1) 100%);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    color: white;
}

button {
    border: 2px solid white;
    border-radius: 25px;
    background: #1646a0;
    color: white;
    padding: 0px 45px;
    height: 50px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2em;
    cursor: pointer;
    transition: .4s;
}

button:hover {
    background-color: #0923af;
}