#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

input[type="submit"], button {
  border-radius: 8px;
  border: 1px solid #646cff;
  padding: 5px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: border-color 0.25s;
}
input[type="submit"]:hover, button:hover {
  border-color: #646cff;
  background-color: #646cff;
}
input[type="submit"]:focus, button:focus,
input[type="submit"]:focus-visible, button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input[type="text"] {
  padding: 5px;
  margin-right: 5px;
}