#photo {
    width: 50%;
    margin: 0px auto;
    text-align: center;
    margin-top: 2em;
}

#photo img {
    width: 100%;
}

.message-container {
    margin: 1em 0px;
}

.comments {
    text-align: left;
}

.comments form {
    border-bottom: 1px solid #363636;
    margin-bottom: 2em;
    padding-bottom: 1em;
}

.author {
    display: flex;
    font-weight: bold;
}

#photo .author img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 1em;
}