body {
  background-color: #121212;
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: #fafafa;
}

a {
  color: #fafafa;
  text-decoration: none;
}

/* Classe para estilo de link de página ativa (a pagína selecionada no momento) */
.active {
  font-weight: bold;
}

ul {
  list-style: none;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  display: flex;
  flex-direction: column;
  text-align: left;
}

label span {
  font-weight: bold;
  margin-bottom: 0.5em;
  color: #aaa;
  font-size: 0.7em;
}

input {
  border: 1px solid #555;
  border-radius: 2px;
  background-color: #3b3b3b;
  color: #aaa;
  padding: 10px 8px;
  outline: none;
  margin-bottom: 0.6em;
}

input::placeholder {
  color: #aaa;
}

.btn,
button,
input[type="submit"] {
  border: none;
  border-radius: 4px;
  background-color: #0094f6;
  color: white;
  padding: 10px 8px;
  font-weight: bold;
  cursor: pointer;
  opacity: 0.8;
  font-size: 1em;
}

input[type="submit"] {
  margin-top: 1em;
}

input:disabled {
  background-color: black;
  cursor: not-allowed;
}

button:hover, input[type="submit"]:hover {
  opacity: 1;
}

.cancel-btn {
  background-color: #ccc;
}

.hide {
  display: none;
}