nav {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

nav a {
    margin: 0px 10px;
    padding: 5px;
}

a {
    text-decoration: none;
    color: #646cff;
}

a:hover {
    color: #535bf2;
}

/* Classe active já é utilizada por padrão no componente NavLink, sem a necessidade de marcá-la com className */
.active {
    background-color: #646cff;
    color: white;
    border-radius: 5px;
}

.active:hover {
    background-color: white;
    color: #535bf2;
}